<mat-card>
    <mat-card-header>
        <div mat-card-avatar style="margin-right: 40px;">
            <img src="https://api.weather.gov/icons/land/night/skc?size=medium"/>
        </div>
        <mat-card-title>{{station}}</mat-card-title>
        <mat-card-subtitle>Lubbock, TX</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-5">
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
</mat-card>