<div>
    <p>Search for your Location to add a forecast</p>
    <form [formGroup]="form">
        <div class="form-group row">
            <div class="col-sm-10">
                <label for="input-address">Address</label>
                <input [formControl]="address" type="text" id="input-address" class="form-control" aria-describedby="input-address-help">
                <small id="input-address-help" class="form-text text-muted">For Example: 123 Sesame St., Boston, MA,
                    88888</small>
                <label *ngIf="getAddressInvalid" class="alert alert-danger">Address is required</label>
            </div>
        </div>
        <h5>OR</h5>
        <div class="form-group row">
            <label for="input-latitude" class="col-sm-1 col-form-label">Latitude</label>
            <div class="col-sm-4">
                <input [formControl]="latitude" type="number" id="input-latitude" class="form-control">
            </div>
            <label for="input-longitude" class="col-sm-1 col-form-label">Longitude</label>
            <div class="col-sm-4        ">
                <input [formControl]="longitude" type="number" id="input-longitude" class="form-control">
            </div>
        </div>
        <div class="for-group row">
            <div class="col-sm-4">
                <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Search</button>
            </div>
        </div>
    </form>
</div>